/* Header style start*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
}
.reseau-header {
  text-align: center;
  margin-top: 35px;
}
.sommaire {
  margin-top: 75px;
  text-align: center;

  border-color: grey;
  border-style: solid;
  border-width: 3px;
  border-radius: 120px;

  margin-left: 30%;
  margin-right: 30%;


  margin-bottom: 35px;
  list-style-type: none;}
.sommaire-header{
  margin-top: 35px;
  margin-bottom: 35px;
}

ul.sommaire-list {
  margin-bottom: 35px;
  list-style-type: none;
}

.sommaire-title {
  color: grey;
}


.div-part {
  margin-top: 150px;
  text-align: center;
  margin-right: 150px;
  margin-left: 150px;
}
.last-div-part {
  margin-top: 150px;
  margin-bottom: 75px;
  text-align: center;
  margin-right: 150px;
  margin-left: 150px;
}

.parts {
  margin-top: 20px;
}